.addResto{
    background-color: rgba(61, 61, 61, 0.95);
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    bottom: 250px;
    left: 250px;
}

h3{
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    color: #f5f8b3;
}

.inputNom, .inputAdresse, .inputRestaurant{
    display: flex;
    flex-direction: row;
}

#note{
    margin-left: 0;
}

.btnAjoutRestaurant{
    margin-right: 0!important;
    margin-left: 323px!important;
    width: auto!important;
}