body{
  background-color: rgb(29, 29, 29);
}

.App {
  text-align: center;
}

.general{
  height: 93.5%;
}

/*Marker{
  animation: ping 1s both;
}

@keyframes ping{
  0%{
    opacity: 0;
    transform: translateY(-2000px);
    filter: alpha(opacity=0);
  }
  60%{
    opacity: 1;
    transform: translateY(30px);
    filter: none;
  }
  80%{
    transform: translateY(-10px);
  } 
  100%{
    transform: translateY(0px);
  }
}
*/

.appCSS{
  display: flex;
  flex-direction: row;
}

button.gm-control-active{
  background-color: #f5f8b3!important;
  border-radius: 50%;
  margin-bottom: 0px!important;
  height: 30px!important;
  width: 30px!important;
  margin-left: 5px!important;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom .gmnoprint{
  background-color: transparent!important;
}

.gmnoprint div{
  background-color: transparent!important;
  color: white;
}

.gmnoprint.gm-style-mtc{
  background-color: #f5f8b3!important;
  border-radius: 10px;
  width: 90px!important;
  height: 30px!important;
}

.gmnoprint.gm-style-mtc div div{
  background-color: #f5f8b3!important;
  color: grey!important;
  border-radius: 0px!important;
}

.gmnoprint.gm-style-mtc div div:hover{
  color: black!important;
}

.gmnoprint.gm-style-mtc div div span{
  width: 30px!important;
}

.gm-style-mtc{
  padding-bottom: 8px!important;
  padding-top: 2px!important;
}

.gm-style-mtc img{
  margin-right: 10px!important;
  margin-top: -3px!important;
  height: 6px!important;
  width: 9px!important;
  color: black;
}

.gm-style-iw.gm-style-iw-c{
  padding-left: 15px;
  padding-top: 15px;
}